<div data-role="header">
  <h1>My lists</h1>
</div>
  <% @lists.each do |list| %>
    <div data-role="collapsible-set">
      <div data-role="collapsible" data-collapsed="false">
        <h3><%= list.title %></h3>
          <ul data-role="listview" data-divider-theme="" data-inset="true">
            <li data-theme=""><%= link_to "View List", list_path(list), "data-transition" => "slide" %></li>
            <li data-theme=""><%= link_to "Edit List", edit_list_path(list), "data-transition" => "slide" %></li>
            <li data-theme=""><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }, "data-transition" => "slide" %></li>
          </ul>
        </div>
      </div>
  <% end %>
  

<br />
<div data-role="footer" data-position="fixed">
  <h3>
    <%= link_to 'New List', new_list_path %>
  </h3>
</div>



<%# link_to "product list", { :controller => "product", :action => "list" }, "data-role" => "button" %>