<div data-role="header" data-position="fixed" data-theme="b">
  <h1>My lists</h1>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, "data-transition" => "slide", "data-role" => "button", "data-inline" => "true"  %>
</div>
  <% @lists.each do |list| %>
    <div data-role="collapsible" data-theme="b" data-content-theme="b">
        <h3><%= list.title %></h3>
          <ul data-role="listview" data-divider-theme="a" >
            <li><%= link_to "View List", list_path(list), "data-transition" => "slide" %></li>
            <li><%= link_to "Edit List", edit_list_path(list), "data-transition" => "slide" %></li>
            <li><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
    </div>   
  <% end %>


<div data-role="footer" data-theme='b' data-position="fixed">
  <%= link_to 'New List', new_list_path, "data-transition" => "slide", "data-role" => "button", "data-inline" => "true"  %>
  <%= link_to "Back", :back, "data-transition" => "slide", "data-role" => "button", "data-inline" => "true" %>
</div>