<div data-role="header" data-theme="b">
	<h1>
		<%= @list.title %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, "data-transition" => "slide", "data-role" => "button", "data-inline" => "true"  %>
	</h1>
</div>
<p>
  <b>Description:</b>
  <%= @list.item %>
</p>

<ul>
  <% @list.tasks.each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>

<%= form_for [@list, @task] do |f| %>

<p><%= f.text_field :description %> <%= f.submit %></p>

<% end %>

<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
        <ul>
            <li><%= link_to 'Edit', edit_list_path(@list), "data-transition" => "slide" %> </li>
            <li><%= link_to 'Back', lists_path, "data-rel" => "back" %></li>
        </ul>
    </div>
</div>
