<div data-role="header" data-position="fixed" data-theme="b">
  <h1>Mylist</h1>
</div>

<%= form_tag do %>
	<%= text_area_tag 'message', 'Message' %>
	<%= text_field_tag 'email', 'Email Address' %>
	<%= submit_tag "Send" %>
<% end %>


<div data-role="footer" data-theme='b' data-position="fixed">
	<center><%= link_to 'Back', lists_path, "data-rel" => "back", "data-transition" => "slide", "data-role" => "button", "data-inline" => "true" %></center>
</div>